:root {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

body {
  /*min-width: 320px;*/
}

h1 {
  text-align: center;
}

#app {
  display: flex;
  flex-wrap: wrap;
  /*max-width: 860px;*/
  margin: 0 auto;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
}

.cell {
  background-color: white;
}
