:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 860px;
  margin: 0 auto;
}

.grid-item {
  flex: 1 0 200px;
  background-color: green;
  height: 200px;
}