:root {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
}

h1 {
  text-align: center;
}

.settings {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#size-setter {
  display: block;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto 12px;
}

label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 12px;
  padding: 12px;
}


#app {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
}

.cell {
  background-color: white;
}
